body{
    background-image: url(background.jpg);
}

.wrapper{
    background-color: white;
    width: 910px;
    height: 1100px;
    margin: auto;
    border-radius: 15px;
}

.judul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    padding-top: 1px;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

.gambar{
    background-image: url(ayang.jpg);
    margin-top: 30px;
    height: 500px;
    background-size: cover;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
}

.artikel{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 20px;

}

.artikel span{
    color: red;
}

.isi p {
    padding-left: 20px;
    padding-right: 20px;
}